name: run-ci
on:
    workflow_call:

    pull_request:
        #opened is set so a CI can run when a PR is created
        branches:
            - main
            - test
            - develop
        types: [opened, synchronize, reopened]
    push:
        branches:
            - main
            - release/*
            - test
            - develop


permissions:
  actions: read
  security-events: write
  contents: read

jobs:
    run-ci:
        uses: JamesB2204/iac-pipeline/.github/workflows/terraform_ci.yml@develop
        with:
            branch: ${{ github.head_ref || github.ref_name }}
            iac_technology: "terra"
        secrets:
            cloud_token: '${{ secrets.CLOUD_PROVIDER_SECRET }}'
