name: run-ci
on:
    workflow_call:
        
    pull_request:
        #opened is set so a CI can run when a PR is created
        #closed is set so a CI can run when a PR is merged and trigger CD workflows
    push:
        branches:
            - main
            - release/*
            - test
            - develop

jobs:
    run-ci:
        uses: JamesB2204/iac-pipeline/.github/workflows/terraform_ci.yml@main
    
